* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #fafafa;
}

body {
  margin-bottom: 50px;
}

button {
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: #000;
}
